* {
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: flex-end;
    padding: 1.1%;
    background: #3a3939;
    box-shadow: 0px 1px 5px 1px rgb(202, 202, 206);
    color: rgb(202, 198, 198);
}

section header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li {
    list-style: none;
    font-weight: bold;
    font-size: 15px;
}

section .main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .main .caixaDePesquisa {
    position: relative;
    width: 100%;
    margin-top: 25px;
}

section .main .caixaDePesquisa .search {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    font-size: 17px;
    outline: none;
    border: 1px solid grey;
    box-shadow: 0px 1px 5px 1px rgb(202, 202, 206);
}

button {
    padding: 7px;
    background-image: linear-gradient(rgb(243, 237, 237),#d6cfcf);
    border-color: #d4cdcd;
    font-size: 17px;
    cursor: pointer;
}

.main img {
    margin-top: 100px;
    max-width: 300px;
    width: auto;
    height: auto;
}

.main .nomes ul{
   display: flex;
   margin-top: 100px;

   li {
        margin-right: 7px;
        list-style: none;

        a {
            text-decoration: none;
            color: rgb(18, 84, 172);
    }
   }
}

.footer {
    display: flex;
    margin-top: 150px;
    
    h3 {
        margin-right: 9px;
        font-size: 15px;
        font-weight: lighter;
    }

    a {
        text-decoration: none;
        font-size: 15px;
        color: rgb(18, 84, 172);
    }
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    /* border: 1px solid #ccc;
    border-radius: 1em; */
  }

  form div + div {
    margin-top: 1em;
  }
  
  label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input,

textarea {
  /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
  font: 1em sans-serif;

  /* Para dar o mesmo tamanho a todos os campo de texto */
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Para harmonizar o look & feel das bordas nos campos de texto*/
  border: 1px solid #999;
}

textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;
  
    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;
  
    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
  }
  

input:focus,
textarea:focus {
  /* Dar um pouco de destaque nos elementos ativos */
  border-color: #000;
}

.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
  }
  button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: 0.5em;
  }

fieldset {
    padding: 10px;
    margin-bottom: 10px;
}

form .link {
    
}